.collapseContainer {
    .input-group-text {
        width: 100%;
    }
    .input-group-prepend {
        width: 100%;
    }
    .DateRangePicker {
        width: 100%;
        .DateRangePickerInput {
            width: 100%;
        }
    }
    .btn {
        margin: 1rem 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .DateRangePicker_picker {
        display: none;
    }
    .DateInput_fang {
        display: none;
    }
}