.jumbotron {
    width: 80%;
    margin: 6% 10%;
    #makeSesh,
    #findSesh {
        margin-right: 1em;
        margin-left: 1em;
    }
}

.sessionsContainer {
    margin: 5rem 0;
    animation: sessionsPopup 2s ease-in;
    .card {
        margin: 1rem 3rem;
    }
    li {
        list-style: none;
    }
    .skill{
        height: 30px;
        width: 30px;
    }
    #resort-search,
    #date-search {
        margin-right: 1em;
        margin-left: 1em;
    }
}



@keyframes sessionsPopup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes jumboSink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}