.jumbotron {
    width: 80%;
    margin: 6% 10%;
}

.sessionsContainer {
    margin: 5rem 0;
    animation: sessionsPopup 2s ease-in;
    .card {
        margin: 10rem 3rem;
    }
    li {
        list-style: none;
    }
}



@keyframes sessionsPopup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes jumboSink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}