$textColor : #e4e4e4;

.navContainer {
    padding: 15px;
    background-color: #777777;
    width: 100%;
    button.link2homeORprofile {
        color: #e4e4e4;
    }
    button.link2homeORprofile:hover {
        padding: 7px;
        background-color: #a3a2a2;
        text-decoration: none;
        font-size: 110%;
        opacity: .7;
    }
    .logoAndName {
        color: $textColor;
        font-size: 20px;
        position: relative;
        left: 5%;
    }
    .linksForRerendering {
        position: relative;
        top: 10px;
        left: 65%;
        button {
            margin: 0 5px;
            border: 0;
            color: $textColor;
            font-size: 2vw;
        }
    }
}