$textColor : #e4e4e4;

.navbar-dark {
    padding: 15px;
    background-color: #777777;
    width: 100%;
    .logoAndName {
        color: $textColor;
        font-size: 20px;
        position: relative;
        left: 5%;
    }
    .linksForRerendering {
        position: relative;
        top: 10px;
        left: 65%;
        button {
            margin: 0 5px;
            border: 0;
            color: $textColor;
            font-size: 2vw;
        }
    }
}